.navigation {
  display: flex;
  justify-content: center;

  .pagination {

    --bs-pagination-active-border-color: black;
    --bs-pagination-color: #ad7d37;

    .page-item {
      cursor: pointer;
      width: 48px;
      text-align: center;
    }

    .active {
      background-color: #334e30;
      color: #ad7d37;
    }

    .page-number {
      cursor: pointer;
      width: 32px;
      text-align: center;
    }

    .disabled {
      pointer-events: none;
      opacity: 0.6;
    }
  }
}