.featured-container {
  text-emphasis: center;
  max-width: 950px;
  margin: auto;

  .featured-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 344px;
    row-gap: 16px;
  }

  .featured {
    width: 160px;
    cursor: pointer;
  }
}

.search {
  max-width: 800px;
  margin: auto;
}

.resources {
  margin-top: 8px;
}

.resourcesButton {
  height: 42px;
  --bs-btn-color: #ad7d37;
  --bs-btn-border-color: #ad7d37;
  --bs-btn-hover-bg: #ad7d37;
  --bs-btn-hover-border-color: #ad7d37;
  --bs-btn-active-bg: #ad7d37;
  --bs-btn-active-border-color: #ad7d37;
  --bs-btn-disabled-color: #ad7d37;
  --bs-btn-disabled-border-color: #ad7d37;
  background-color: #334e30;
}

@media (min-width: 768px) {
  .featured-container {
    .featured-items {
      justify-content: center;
      max-width: inherit;
    }
  }

}


@media (max-width: 767px) {


  .featured-container {
    margin-top: 20px;
  }

  .resources-row {
    text-align: center;

    .resources {
      margin: 0 auto;
    }
  }
}