<div class="search">
  <div class="d-flex flex-column">
    <div class="p-2">
      <div class="input-group">
        <input #textSearchInput type="search" class="form-control rounded inputSearch" placeholder="Write your search"
          (search)="search()" [disabled]="isDisabled" aria-label="Write your search" aria-describedby="search-addon"
          [class.input-error]="errorMessage" />
      </div>
    </div>
    <div class="p-2 errorMessage">
      <label *ngIf="errorMessage">No results found </label>
    </div>
  </div>
</div>